<div class="container">
    <h1 class="catalog__h1">Details</h1>
    <section class="details">
        {{#with room}}
            <img src="{{imgUrl}}" alt="">
            <h3 class="details__city">{{city}}</h3>
        {{/with}}
        {{#each facilities}}
                <p><span class="details__price">{{iconUrl}} {{label}}<span></p>
        {{/each}}
    </section>
</div>