<div class="container">
    <section class="host">
        <h1>Add your property</h1>
        <form action="/host" method="post">
            <label for="city">City</label>
            <input type="text" name="city" required id="city" />
            <label for="description">Description</label>
            <input type="text" name="description" id="description" required />
            <label for="price">Price</label>
            <input type="number" name="price" required id="price" />
            <label for="beds">Beds</label>
            <input type="number" name="beds" required id="beds" />
            <label for="image-url">Add image url</label>
            <input type="url" name="imgUrl" id="image-url" required />
            <input type="submit" class="button" value="Publish"/>
        </form>
        {{#if error}}
             <p class="error">{{error}}<p/>
        {{/if}}
    </section>
</div>