<div class="container">
    <h1 class="catalog__h1">Catalog</h1>
    <section>
        <div class="catalog">
            {{#each rooms}}
               {{> catalog-card}}
            {{/each}}
        </div>
    </section>
</div>