<div class="showcase">
    <div class="container">
        <div class="showcase__intro">
            <h1 class="showcase__title">Discover the world. Adventure is out there</h1>
            <p class="showcase__description">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Ex, voluptates.
            </p>
            <div class="showcase__buttons">
                <a class="button" href="/catalog">Discover</a>
            </div>
        </div>
    </div>
</div>