<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script>0</script>
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav class="primary-nav">
            <div class="container">
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Stays</a></li>
                    {{#if hasUser}}
                        <li><a href="/host">List your property</a></li>
                        <li><a href="/facility/create">Create Facility</a></li>
                        <li><a href="/auth/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                    {{/if}}
                </ul>
            </div>
    </header>
    </nav>
    <main id="main">
        {{{body}}}
    </main>
    <footer class="primary-footer">
        <div class="container">
            <p class="primary-footer__item">Created By flnx®</p>
            <p class="primary-footer__item">Github Profile: <a href="https://github.com/flnx">flnx</a></p>
        </div>
    </footer>
</body>

</html>