<section class="crypto-market">
    <h1><span>Crypto</span> Trade</h1>
    <div class="offer-list">
        {{#if cryptoData}}
            {{#each cryptoData}}
                 {{> coin-card}}
            {{/each}}

        {{else}}
        <div class="no-offer">
            <p>There are no crypto offers found!</p>
        </div>
        {{/if}}

        {{#if error}}
            <h2>{{error}}</h2>
        {{/if}}
    </div>
</section>